<%- include('includes/head') %>

<section>
    <h1>Criar votação</h1>
    <form action="/mestre/<%=jogador%>/esperaVotacao" method="post">

        <button id="criaOpcao" type="button">Criar opção</button>
        <div id="ExibirOpcoes">
            <div id="opcoes"></div>
        </div>
    
        <button type="submit">Criar votação</button>
    </form>
</section>

<script src="/assets/js/escolhas.js"></script>

<%- include('includes/foot') %>
