<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dissemina-IFF de RPG</title>
  
</head>

<body>

  <section>
    <p><b id="total">0</b> rolagens realizadas</p>
    <form action="/mestre/<%=jogador%>/exibeRolagem" method="post" id="formExibirRolagens">
      <label><h2>Bônus/Penalidade: </h2></label>
      <input type="number" name="bonus" id="bonus">
      <button type="button" id="checaBonus">Exibir Rolagens</button>
    </form>
    <div id="jogador-info" data-jogador="<%= jogador %>"></div>
  </section>
  <script src="/assets/js/esperaRolagens.js"></script>


  <%- include('includes/foot') %>