<%- include('includes/head') %>

<section>

    <form action="/jogador/<%=jogador%>/<%=dado%>" method="post" id="formRolagem">
        <button id="btnRolagem">Rolar dado</button>
    </form>

    <form action="/acao" method="post">
        <button id="btnEscolhas">Escolher ação</button>
    </form>

</section>
<script src="/assets/js/jogador.js"></script>

<%- include('includes/foot') %>