<%- include('includes/head') %>

<section>
    <h1>Escolha seu Lutador</h1>
    <h2>Você está na pagina de mestre</h2>
    <div class="button_container">

    <form action="/mestre/jogador1" method="post">
        <button>Lutador 1</button>
    </form>

    <form action="/mestre/jogador2" method="post">
        <button>Lutador 2</button>
    </form>

    <form action="/mestre/jogador3" method="post">
        <button>Lutador 3</button>
    </form>
    </div>
</section>

<%- include('includes/foot') %>