<%- include('includes/head') %>

    <section>
        <h1>Escolha seu Lutador</h1>

        <h2>Você está na pagina de mestre</h2>

        <div class="button_container" id="todos_herois">
            <fieldset>
                <legend>Zenchi</legend>
                <form action="/mestre/jogador1" method="post">
                    <button><img src="Zenchi.png" alt="Zenchi"></button>
                </form>

            </fieldset>

            <fieldset>
                <legend>Atnos</legend>
                <form action="/mestre/jogador2" method="post">
                    <button><img src="atnos.png" alt="Atnos"></button>
                </form>
            </fieldset>

            <fieldset>
                <legend>Sam</legend>
                <form action="/mestre/jogador3" method="post">
                    <button><img src="lutador3.png" alt="Sam"></button>
                </form>
            </fieldset>
        </div>
    </section>
<%- include('includes/foot') %>