<%- include('includes/head') %>

<section>

    <form action="/mestre/<%=jogador%>/resetaDados" method="get">
      <button type="submit">Iniciar Rolagens</button>
    </form>

    <form action="/mestre/<%=jogador%>/criaVotacao" method="post">
      <button type="submit">Iniciar Escolha de Ação</button>
    </form>

</section>

<%- include('includes/foot') %>
