<%- include('includes/head') %>

<section>
    <h1>Votação</h1>
    <div id="opcoesContainer">

    </div>
</section>

<div id="opcoes-info" data-opcoes="<%= opcoes %>"></div>
<div id="jogador-info" data-jogador="<%= jogador %>"></div>
<script src="/assets/js/depositaVoto.js"></script>

<%- include('includes/foot') %>
